<h1>Listing engineer_types</h1>

<table>
  <tr>
    <th>Level</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @engineer_types.each do |engineer_type| %>
  <tr>
    <td><%= engineer_type.level %></td>
    <td><%= engineer_type.name %></td>
    <td><%= link_to 'Show', engineer_type %></td>
    <td><%= link_to 'Edit', edit_engineer_type_path(engineer_type) %></td>
    <td><%= link_to 'Destroy', engineer_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Engineer type', new_engineer_type_path %>
